@page "{handler?}"
@model Core.Areas.Local.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = "Local Employee";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Local Employee Details
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">@Model.LocalEmployee.Name</h1>
        </div>

        <div class="card-text">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.UserName)</th>
                        <td class="text-right">
                            <code>
                                @Model.LocalEmployee.UserName
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.Email)</th>
                        <td class="text-right">
                            <a href="mailto:@Model.LocalEmployee.Email">
                                @Model.LocalEmployee.Email
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.Phone)</th>
                        <td class="text-right">
                            <a href="tel:@Model.LocalEmployee.Phone">
                                @Model.LocalEmployee.Phone
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.Address)</th>
                        <td class="text-right">@Html.DisplayFor(model => model.LocalEmployee.Address)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.Designation)</th>
                        <td class="text-right">@Html.DisplayFor(model => model.LocalEmployee.Designation)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.BirthDate)</th>
                        <td class="text-right">@Html.DisplayFor(model => model.LocalEmployee.BirthDate)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.StartDate)</th>
                        <td class="text-right">@Html.DisplayFor(model => model.LocalEmployee.StartDate)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.IdentificationNumber)</th>
                        <td class="text-right">
                            <code>@Model.LocalEmployee.IdentificationNumber</code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.PublicKey)</th>
                        <td class="text-right">
                            <code>@Model.LocalEmployee.PublicKey</code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.IdentificationSignature)</th>
                        <td class="text-right">
                            <code>@Model.LocalEmployee.IdentificationSignature</code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.VerificationSignature)</th>
                        <td class="text-right">
                            <code>@Model.LocalEmployee.VerificationSignature</code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LocalEmployee.IsDeployed)</th>
                        <td class="text-right">@(Model.LocalEmployee.IsDeployed ? "Yes" : "No")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @{
            var api =
                Url.ActionLink(
                    "Delete",
                    "LocalEmployees",
                    new { Model.LocalEmployee.Id, area = "" });

            var returnUrl = Url.Page("./Index");
        }
        @api
        <div class="row">
            <div class="col-6">
                @if (Model.IsAdmin)
                {
                    <a href="#"
                       class="btn btn-danger text-white js-remove-item"
                       data-href="@api"
                       data-returnUrl="@returnUrl">
                        Delete
                    </a>
                }
            </div>

            <div class="col-6 text-right">
                @if (!Model.Verify() && Model.IsCorrectEmployee)
                {
                    <a asp-page="./Verification" asp-route-id="@Model.LocalEmployee.Id.ToString()"
                       class="btn btn-primary text-white">
                        Verify
                    </a>
                }

                @if (Model.IsAdmin && !Model.LocalEmployee.IsDeployed)
                {
                    if (Model.LocalEmployee.IsReadyToDeploy)
                    {
                        <form method="post"      
                              asp-page-handler="deploy"
                              asp-route-id="@Model.LocalEmployee.Id">
                            <button class="btn btn-primary">Deploy</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-info">Pending Verification</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<a asp-page="./Index"
   class="btn btn-secondary">
    Back to Index
</a>