@page "{handler?}"
@model Core.Areas.Local.Pages.Resignations.DetailsModel
@{
    ViewData["Title"] = "Local Resignation";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Local Resignation
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">
                @Model.LocalEmployee.Name
            </h1>
        </div>

        <div class="card-text">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Resignation.Id)</th>
                        <td class="text-right">
                            <code>
                                @Model.Resignation.Id
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Employee ID
                        </th>
                        <td class="text-right">
                            <code>
                                @Model.LocalEmployee.Id
                            </code>
                        </td>
                    </tr>


                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Resignation.EmployeePublicKey)</th>
                        <td class="text-right">
                            <code>
                                @Model.Resignation.EmployeePublicKey
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Resignation.Description)</th>
                        <td class="text-right">
                            @Model.Resignation.Description
                        </td>
                    </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Resignation.EndDate)</th>
                    <td class="text-right">
                        @Model.Resignation.EndDate.ToString("D")
                    </td>
                </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Resignation.EmployeeSignature)</th>
                        <td class="text-right">
                            <code>
                                @Model.Resignation.EmployeeSignature
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Resignation.IsDeployed)</th>
                        <td class="text-right">@(Model.Resignation.IsDeployed ? "Yes" : "No")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @{
            var api =
                Url.ActionLink(
                    "Delete",
                    "Resignations",
                    new { Model.Resignation.Id, area = "" });

            var returnUrl = Url.Page("./Index");
        }
        @api
        <div class="row">
            <div class="col-6">
                @if (Model.IsAdmin)
                {
                    <a href="#"
                       class="btn btn-danger text-white js-remove-item"
                       data-href="@api"
                       data-returnUrl="@returnUrl">
                        Delete
                    </a>
                }
            </div>

            <div class="col-6 text-right">
                @if (Model.IsCorrectEmployee
                && string.IsNullOrWhiteSpace(Model.Resignation.EmployeeSignature))
                {
                    <a asp-page="./Verification"
                       asp-route-id="@Model.Resignation.Id.ToString()"
                       class="btn btn-primary text-white">
                        Verify
                    </a>
                }

                @if (Model.IsAdmin && !Model.Resignation.IsDeployed)
                {
                    if (Model.Resignation.IsReadyToDeploy)
                    {
                        <form method="post"
                              asp-page-handler="deploy"
                              asp-route-id="@Model.Resignation.Id">
                            <button class="btn btn-primary">
                                Deploy
                            </button>
                        </form>
                    }
                    else
                    {
                        <span class="text-info">Pending Verification</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<a asp-page="./Index"
   class="btn btn-secondary">
    Back to Index
</a>