@page
@model Core.Areas.Local.Pages.Resignations.VerificationModel
@{
    ViewData["Title"] = "Resignation Confirmation";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Confirm Resignation
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">
                @Model.Employee.Name
            </h1>
        </div>

        <div class="card-text">
            <form method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="Resignation.Id">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.Resignation.Id
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="Employee.Id">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.Employee.Id
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Employee's Name
                    </label>

                    <div class="col-sm-9">
                        @Model.Employee.Name
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="Resignation.EmployeePublicKey">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.Resignation.EmployeePublicKey
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Verification Message
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.VerificationPayload
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.VerificationSignature"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <textarea asp-for="Input.VerificationSignature"
                                  class="form-control">
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input type="submit"
                               class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
