@page "/organizations"
@inject HttpClient Http

@using Domain

<h1>Organizations</h1>

@if (organizations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Balance</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var org in organizations)
        {
            <tr>
                <td>@org.Id.ToString()</td>
                <td>@org.Name</td>
                <td>@org.Owner</td>
                <td>@org.Balance</td>
                <td>@org.Meta.Timestamp</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Organization> organizations;

    protected override async Task OnInitializedAsync()
    {
        organizations = await Http.GetJsonAsync<IEnumerable<Organization>>("api/Organizations");
        Console.WriteLine(organizations?.First().Name);
    }
}
