@page "{handler?}"
@model Core.Areas.Local.Pages.Certifications.DetailsModel
@{
    ViewData["Title"] = "Local Certificate";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Local Certificate
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">
                @Model.Certificate.Title
            </h1>
        </div>

        <div class="card-text">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Certificate.Id)</th>
                        <td class="text-right">
                            <code>
                                @Model.Certificate.Id
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Receiver's Name
                        </th>
                        <td class="text-right">
                            @Model.LocalEmployee.Name
                        </td>
                    </tr>


                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Certificate.ReceiverPublicKey)</th>
                        <td class="text-right">
                            <code>
                                @Model.Certificate.ReceiverPublicKey
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Certificate.Description)</th>
                        <td class="text-right">
                                @Model.Certificate.Description
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Certificate.ReceiverSignature)</th>
                        <td class="text-right">
                            <code>
                                @Model.Certificate.ReceiverSignature
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Certificate.IsDeployed)</th>
                        <td class="text-right">@(Model.Certificate.IsDeployed ? "Yes" : "No")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @{
            var api =
                Url.ActionLink(
                    "Delete",
                    "Certifications",
                    new { Model.Certificate.Id, area = "" });

            var returnUrl = Url.Page("./Index");
        }
        @api
        <div class="row">
            <div class="col-6">
                @if (Model.IsAdmin)
                {
                    <a href="#"
                       class="btn btn-danger text-white js-remove-item"
                       data-href="@api"
                       data-returnUrl="@returnUrl">
                        Delete
                    </a>
                }
            </div>

            <div class="col-6 text-right">
                @if (Model.IsCorrectEmployee
                 && string.IsNullOrWhiteSpace(Model.Certificate.ReceiverSignature))
                {
                    <a asp-page="./Verification"
                       asp-route-id="@Model.Certificate.Id.ToString()"
                       class="btn btn-primary text-white">
                        Verify
                    </a>
                }

                @if (Model.IsAdmin && !Model.Certificate.IsDeployed)
                {
                    if (Model.Certificate.IsReadyToDeploy)
                    {
                        <form method="post"
                              asp-page-handler="deploy"
                              asp-route-id="@Model.Certificate.Id">
                            <button class="btn btn-primary">
                                Deploy
                            </button>
                        </form>
                    }
                    else
                    {
                        <span class="text-info">Pending Verification</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<a asp-page="./Index"
   class="btn btn-secondary">
    Back to Index
</a>