@page
@model Core.Areas.Local.Pages.Certifications.VerificationModel
@{
    ViewData["Title"] = "Unit of Work Confirmation";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Confirm Unit of Work
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">
                @Model.Certificate.Title
            </h1>
        </div>

        <div class="card-text">
            <form method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="Certificate.Id">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.Certificate.Id
                        </code>
                    </div>
                </div>
                         
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Receiver's Name
                    </label>

                    <div class="col-sm-9">
                            @Model.LocalEmployee.Name
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="Certificate.ReceiverPublicKey">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.Certificate.ReceiverPublicKey
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Verification Message
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.VerificationPayload
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.VerificationSignature"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <textarea asp-for="Input.VerificationSignature"
                                  class="form-control">
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input type="submit"
                               class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
