@page
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<OrganizationOptions> orgMonitor
@model Core.Areas.Chain.Pages.Projects.DetailsModel
@{
    ViewData["Title"] = "Employee";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Employee Details
    </div>
    <div class="card-body">
        @*<div class="card-title">
                <h1 class="display-4"></h1>
            </div>*@

        <div class="card-text">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.Id)</th>
                        <td class="text-right">
                            <code>
                                @Model.Block.Id
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.Hash)</th>
                        <td class="text-right">
                            <code>
                                @Model.Block.Hash
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.PreviousBlockHash)</th>
                        <td class="text-right">
                            <code>
                                @Model.Block.PreviousBlockHash
                            </code>
                        </td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.Originator)</th>
                        <td class="text-right">
                            <code>
                                @Model.Block.Originator
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Project.Organization)</th>
                        <td class="text-right">
                            <code>
                                @Model.Project.Organization
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Project.Title)</th>
                        <td class="text-right">
                            @Model.Project.Title
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Project.TotalXp)</th>
                        <td class="text-right">
                            @Model.Project.TotalXp
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Project.Description)</th>
                        <td class="text-right">
                            @Model.Project.Description
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.CreatedAt)</th>
                        <td class="text-right">
                            @Model.Block.CreatedAt.ToString("F")
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Block.Signature)</th>
                        <td class="text-right">
                            <code>
                                @Model.Block.Signature
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a asp-page="./Index"
   class="btn btn-secondary">
    Back to Index
</a>