@page 
@model Core.Areas.Local.Pages.UnitsOfWork.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">
                        Local Units of Work
                    </h1>
                </div>
                <div class="col-md-6 text-right">
                    <a  asp-page="./Create"
                        class="btn btn-primary text-white">Add New</a>
                </div>
            </div>
        </div>  
        <div class="card-text">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project ID</th>
                        <th>Executor ID</th>
                        <th>Tags</th>
                        <th>XP</th>  
                        <td></td>
                    </tr>
                </thead>  
                <tbody>
                @foreach (var uow in Model.UnitsOfWork)
                {
                    var tblClass = uow.IsDeployed ? "table-success" : "table-warning";
                    <tr class="@tblClass">
                        @*<td>@emp.Id</td>*@
                        <td>@uow.Id</td>
                        <td><code>@uow.ProjectId.ToString()</code></td>
                        <td><code>@uow.ExecutorId.ToString()</code></td>
                        <td>@uow.Tags</td>
                        <td>@uow.Xp</td>
                        <td class="text-right">
                            <a asp-page="./Details"
                               asp-route-id="@uow.Id.ToString()"
                               class="btn btn-sm btn-success">
                                View
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
